*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.section-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.background-section{
  background-image: url(../assets/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-container{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 490px;
  margin: 20px 0px 60px;
}

.content{
  background-color: #1a1a1a;
}

img{
  width: 30%;
}


input{
  height: 40px;
  padding: 0px 10px;
  background: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  border: 1px solid  #fab001;
  margin-bottom: 30px;
}


form{
  display: grid;

}

.topoForm{
  color: #fab001;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0px 60px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  text-align: center;

}



footer{
  height: 25px;
  padding: 15px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


